USE [DataTrue_Main]
GO
/****** Object:  StoredProcedure [dbo].[prUtil_Price_Corrections_Adjustments_Run_Using_IncludeInAdjustments_BetweenDates_Debug]    Script Date: 06/25/2015 18:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prUtil_Price_Corrections_Adjustments_Run_Using_IncludeInAdjustments_BetweenDates_Debug]
as
/*
************************************************************
--Several updates below by C&M on 20120314
--**********************************************************
*/
declare @startdate date = '3/24/2014' --date=dateadd(month, -6, getdate()) --'12/1/2011'
declare @enddate date = '3/25/2014' --date=dateadd(day, -1, getdate())
--declare @startdate date='11/25/2013' --dateadd(month, -6, getdate()) --'12/1/2011'
--declare @enddate date= '11/27/2013' --dateadd(day, -2, getdate())
--declare @enddate date=cast(dateadd(day,-1,getdate()) as date)
declare @currentdate date
declare @dummy bit

--update t set rulecost = p.UnitPrice, ruleretail = p.UnitRetail
--from storetransactions t
--inner join productprices p
--on t.storeid = p.storeid
--and t.productid = p.productid
--and t.supplierid = p.supplierid
--and t.saledatetime between p.ActiveStartDate and p.ActiveLastDate
--and p.ProductPriceTypeID = 3
--and (t.rulecost = 0 or t.rulecost is null)
--and t.saledatetime > dateadd(day, -180, getdate())
--and t.transactiontypeid in (2,6)
--and isnull(t.reversed, 0) <> 1
--and t.transactionstatus = 0

set @currentdate = @startdate

--While @currentdate between @startdate and @enddate
--	begin
	
		--begin transaction
/*
(82938 row(s) affected)

(11056 row(s) affected)

select * from billingcontrol where chainid = 60620
*/		
		begin try
			DROP TABLE #temptransactions
		end try
		begin catch
			set @dummy = 0
		end catch	
		--declare @currentdate date = '10/5/2010'
		select t.chainid, storetransactionid, cast(UnitPrice as DECimal(12,2)) As CurrentCost, 
		cast(null as DECimal(12,2)) as CurrentPromoAllowance,
		cast(Setupcost as DECimal(12,2)) as Setupcost, cast(PromoAllowance as DECimal(12,2)) as PromoAllowance, 
		cast(RuleCost as DECimal(12,2)) as RuleCost, 
		cast(ReportedCost as DECimal(12,2)) as ReportedCost, cast(ReportedAllowance as DECimal(12,2)) as ReportedAllowance, 
		CAST(0 as smallint) as NeedAdjustment,
		cast(t.saledatetime as date) as SaleDate, CAST(0 as smallint) as Processed,
		getdate() as datetimecreated, p.DateTimeCreated as PriceSubmitDate, 
		--b.POSAdjPriceRecordCreateDate, cast(null as DateTime) as PromotionRecordCreateDate, b.POSAdjStartDate, 
		t.StoreID, t.productid, t.SetupAllowance
		into #temptransactions
		from StoreTransactions t
		--and CAST('10/14/2013' as date) <= CAST(t.saledatetime as date)
		--and CAST(b.POSAdjStartDate as date) <= CAST(t.saledatetime as date)
		left join ProductPrices p
		on t.StoreID = p.StoreID
		and t.ProductID = p.ProductID
		--and t.BrandID = p.BrandID
		and t.SupplierID = p.SupplierID
		and CAST(t.saledatetime as date) between p.ActiveStartDate and p.ActiveLastDate
		--and isnull(p.IncludeInAdjustments, 0) = 1
		and p.ProductPriceTypeID = 3
		--added to prevent records with no current unit cost on 20120314 by C&M
		and p.UnitPrice is not null
		where t.transactiontypeid in (2, 6, 16)
		and t.Reversed = 0
		and CAST(t.saledatetime as date) between @startdate and @enddate
		--and CAST(t.saledatetime as date) = @currentdate
		--and t.ChainID not in (select ChainID from chains where PDITradingPartner = 1)
		and t.ChainID in (60620)
		--and t.productid = 5413
		--and t.SupplierID <> 40558 1834
		and t.StoreID in 
		(select StoreID from CostZoneRelations where CostZoneID = 1836)
		and t.ProductID in (3480677, 3480678)
		and t.supplierid = 40567

--select * from #temptransactions where RuleCost = 1.27 and PromoAllowance = .42

		update  a set a.CurrentCost = a.RuleCost
		from #temptransactions a
		where CurrentCost is null
		
--select * from #temptransactions where RuleCost = 1.27 and PromoAllowance = .42

		update  a set a.CurrentPromoAllowance = a.SetupAllowance--, a.PromotionRecordCreateDate = p.DateTimeCreated
		from #temptransactions a
		

		--update  a set a.CurrentPromoAllowance = p.UnitPrice--, a.PromotionRecordCreateDate = p.DateTimeCreated
		--from #temptransactions a
		--inner join StoreTransactions t
		--on a.storetransactionid = t.storetransactionid
		--inner join ProductPrices p
		--on t.StoreID = p.StoreID
		--and t.ProductID = p.ProductID
		--and t.BrandID = p.BrandID
		--and t.SupplierID = p.SupplierID
		--and p.productpricetypeid = 8
		--and isnull(p.IncludeInAdjustments, 0) = 1
		--and CAST(t.saledatetime as date) between p.ActiveStartDate and p.ActiveLastDate

--select * from #temptransactions where RuleCost = 1.27 and PromoAllowance = .42

		--update  a set a.CurrentPromoAllowance = a.PromoAllowance
		--from #temptransactions a
		--where a.CurrentPromoAllowance is null

--select * from #temptransactions where RuleCost = 1.27 and PromoAllowance = .42
		
		--update #temptransactions
		--set CurrentPromoAllowance = ReportedAllowance
		--where cast(PromotionRecordCreateDate as date) < POSAdjPriceRecordCreateDate
		
		--update #temptransactions
		--set CurrentCost = ReportedCost
		--where cast(POSAdjPriceRecordCreateDate as date) < POSAdjPriceRecordCreateDate
			
		--update #temptransactions
		--set CurrentPromoAllowance = ReportedAllowance
		--where cast(isnull(PromotionRecordCreateDate, DATEADD(day, -1, POSAdjPriceRecordCreateDate)) as date) < POSAdjPriceRecordCreateDate
		--and ReportedAllowance <> 1.29
		
		--update #temptransactions
		--set CurrentCost = ReportedCost
		--where cast(isnull(PriceSubmitDate, DATEADD(day, -1, POSAdjPriceRecordCreateDate)) as date) < POSAdjPriceRecordCreateDate
		

		--select * from #temptransactions
			
		--select * from BillingControl
				
		--update  a set a.CurrentPromoAllowance = p.UnitPrice
		--from BillingControl b
		--inner join #temptransactions a
		--on b.EntityIdToInvoice = a.chainid
		--and CAST(b.POSAdjStartDate as date) <= CAST(a.saledate as date)
		--inner join StoreTransactions t
		--on a.storetransactionid = t.storetransactionid
		--inner join ProductPrices p
		--on t.StoreID = p.StoreID
		--and t.ProductID = p.ProductID
		--and t.BrandID = p.BrandID
		--and t.SupplierID = p.SupplierID
		--and p.productpricetypeid = 8
		--and CAST(t.saledatetime as date) between p.ActiveStartDate and p.ActiveLastDate
		
--***************************************************************************		

			update a set a.NeedAdjustment = 1
			from #temptransactions a
			where CurrentCost is not null 
--and CurrentCost - CurrentPromoAllowance <> rulecost - promoallowance
--and CurrentCost - CurrentPromoAllowance = ReportedCost
			and isnull(CurrentCost, 0.00) - isnull(CurrentPromoAllowance, 0.00) <> isnull(rulecost, 0.00) - isnull(PromoAllowance, 0.00)
			--and isnull(CurrentCost, 0.00) - isnull(CurrentPromoAllowance, 0.00) = isnull(ReportedCost, 0.00)
			--and isnull(RuleCost, 0.00) - isnull(promoallowance, 0.00) <> isnull(ReportedCost, 0.00)

/*commented out update below since duplicate costs had been deleted from productprices table
C&M 20120314
			update t set t.NeedAdjustment = 0
			from #temptransactions t
			inner join StoreTransactions st
			on t.StoreTransactionID = st.StoreTransactionID
			inner join import.dbo.TempStoreProductsWithDupeCosts_20120131 d
			on st.storeid = d.storeid
			and st.productid = d.productid
			and st.supplierid = d.supplierid
*/

			delete from #temptransactions where NeedAdjustment = 0 --and SaleDate = @currentdate
			
			--commented out 20120314 since not needed for production C&M insert into Import.dbo.AdjustmentsMaster select * from #temptransactions
/*
			select * from Import.dbo.AdjustmentsMaster order by datetimecreated desc
			truncate table Import.dbo.AdjustmentsMaster
			
			select t.*, tr.* 
			from #temptransactions t
			inner join storetransactions tr
			on t.storetransactionid = tr.storetransactionid
			
			select top 15000 * from storetransactions order by datetimecreated desc
*/	

select * 				
from #temptransactions
--where NeedAdjustment = 1
--and Processed = 0
--/*
			declare @rec cursor
			declare @recordid bigint
			declare @transactionidtoreverse bigint
			declare @correctsetupcost money
			declare @correctpromoallowance money
			declare @reversingtransactionid bigint

			set @rec = CURSOR local fast_forward FOR
				select storetransactionid, currentcost, currentpromoallowance
				from #temptransactions
				where NeedAdjustment = 1
				and Processed = 0


			open @rec

			fetch next from @rec into 
					--@recordid
					@transactionidtoreverse
					,@correctsetupcost
					,@correctpromoallowance
					
			while @@FETCH_STATUS = 0
				begin
								
											set @reversingtransactionid = null
								
								
											INSERT INTO [dbo].[StoreTransactions]
													   ([ChainID]
													   ,[StoreID]
													   ,[ProductID]
													   ,[SupplierID]
													   ,[TransactionTypeID]
													   ,[ProductPriceTypeID]
													   ,[BrandID]
													   ,[Qty]
													   ,[SetupCost]
													   ,[SetupRetail]
													   ,[SaleDateTime]
													   ,[UPC]
													   ,[ReportedCost]
													   ,[ReportedRetail]
													   ,[RuleCost]
													   ,[RuleRetail]
													   ,[CostMisMatch]
													   ,[RetailMisMatch]
													   ,[TrueCost]
													   ,[TrueRetail]
													   ,[SourceID]
													   ,[InvoiceID]
													   ,[LastUpdateUserID]
													   ,[WorkingTransactionID]
													   ,[ReportedAllowance]
													   ,[ReportedPromotionPrice]
													   ,StoreIdentifier
														,StoreName
														,ProductQualifier
														,RawProductIdentifier
														,SupplierName
														,SupplierIdentifier
														,BrandIdentifier
														,DivisionIdentifier
														,UOM
														,SalePrice
														,InvoiceNo
														,PONo
														,CorporateName
														,CorporateIdentifier
														,Banner
														,PromoTypeID
														,PromoAllowance
														,SBTNumber 
														,RecordType)
												 select Top 1 [ChainID]
													   ,[StoreID]
													   ,[ProductID]
													   ,[SupplierID]
													   ,7
													   ,[ProductPriceTypeID]
													   ,[BrandID]
													   ,-1 * [Qty]
													   ,[SetupCost]
													   ,[SetupRetail]
													   ,[SaleDateTime]
													   ,[UPC]
													   ,[ReportedCost]
													   ,[ReportedRetail]
													   ,[RuleCost]
													   ,[RuleRetail]
													   ,[CostMisMatch]
													   ,[RetailMisMatch]
													   ,[TrueCost]
													   ,[TrueRetail]
													   ,[SourceID]
													   ,[InvoiceID]
													   ,[LastUpdateUserID]
													   ,[WorkingTransactionID]
													   ,[ReportedAllowance]
													   ,[ReportedPromotionPrice]
													   ,StoreIdentifier
														,StoreName
														,ProductQualifier
														,RawProductIdentifier
														,SupplierName
														,SupplierIdentifier
														,BrandIdentifier
														,DivisionIdentifier
														,UOM
														,SalePrice
														,InvoiceNo
														,PONo
														,CorporateName
														,CorporateIdentifier
														,Banner
														,PromoTypeID
														,PromoAllowance
														,SBTNumber										   
														,0		   
																   
													   
													   
													   
													   from StoreTransactions
													where StoreTransactionID = @transactionidtoreverse
													
											set @reversingtransactionid = SCOPE_IDENTITY()
											
											update t set t.ProcessingErrorDesc = 'REVERSED BY TRANSACTION: ' + CAST(@reversingtransactionid AS varchar(50))
											,Reversed = 1
											from StoreTransactions t
											where t.StoreTransactionID =@transactionidtoreverse
								

																		
											INSERT INTO [dbo].[StoreTransactions]
													   ([ChainID]
													   ,[StoreID]
													   ,[ProductID]
													   ,[SupplierID]
													   ,[TransactionTypeID]
													   ,[ProductPriceTypeID]
													   ,[BrandID]
													   ,[Qty]
													   ,[SetupCost]
													   ,[SetupRetail]
													   ,[SaleDateTime]
													   ,[UPC]
													   ,[ReportedCost]
													   ,[ReportedRetail]
													   ,[RuleCost]
													   ,[RuleRetail]
													   ,[CostMisMatch]
													   ,[RetailMisMatch]
													   ,[TrueCost]
													   ,[TrueRetail]
													   ,[SourceID]
													   ,[InvoiceID]
													   ,[LastUpdateUserID]
													   ,[WorkingTransactionID]
													   ,[ReportedAllowance]
													   ,[ReportedPromotionPrice]
													   ,StoreIdentifier
														,StoreName
														,ProductQualifier
														,RawProductIdentifier
														,SupplierName
														,SupplierIdentifier
														,BrandIdentifier
														,DivisionIdentifier
														,UOM
														,SalePrice
														,InvoiceNo
														,PONo
														,CorporateName
														,CorporateIdentifier
														,Banner
														,PromoTypeID
														,PromoAllowance
														,SBTNumber										   
														,RecordType		   
													   
													   
													   )
												 select [ChainID]
													   ,[StoreID]
													   ,[ProductID]
													   ,[SupplierID]
													   ,16
													   ,[ProductPriceTypeID]
													   ,[BrandID]
													   ,[Qty]
													   ,@correctsetupcost --[SetupCost]
													   ,[SetupRetail]
													   ,[SaleDateTime]
													   ,[UPC]
													   ,[ReportedCost]
													   ,[ReportedRetail]
													   ,@correctsetupcost --[RuleCost]
													   ,[RuleRetail]
													   ,0 --[CostMisMatch]
													   ,0 --[RetailMisMatch]
													   ,@correctsetupcost --case when [CostMisMatch] = 0 then [SetupCost] else [TrueCost] end
													   ,[RuleRetail] --case when [RetailMisMatch] = 0 then [SetupRetail] else [TrueRetail] end
													   ,[SourceID]
													   ,[InvoiceID]
													   ,[LastUpdateUserID]
													   ,[WorkingTransactionID]
													   ,[ReportedAllowance]
													   ,[ReportedPromotionPrice]
													   ,StoreIdentifier
														,StoreName
														,ProductQualifier
														,RawProductIdentifier
														,SupplierName
														,SupplierIdentifier
														,BrandIdentifier
														,DivisionIdentifier
														,UOM
														,SalePrice
														,InvoiceNo
														,PONo
														,CorporateName
														,CorporateIdentifier
														,Banner
														,1 --PromoTypeID
														,@correctpromoallowance --PromoAllowance
														,SBTNumber										   
														,0		   
													   
													   
													   
													   from StoreTransactions
													where StoreTransactionID = @transactionidtoreverse
													
						--update Import.dbo.tmpAdjustments20111213_1211 set Processed = 1 where recordid = @recordid									
													
						fetch next from @rec into 
							--@recordid
							@transactionidtoreverse
							,@correctsetupcost
							,@correctpromoallowance
					
					end
					
			close @rec
			deallocate @rec									
													
													

--*/		
		
		
		
--****************************************************************************	

		--commit transaction
			
	--	set @currentdate = DATEADD(day, 1, @currentdate)
	--end


/*

2.54/.64
62543	18587
62553	18588

1.43/.03
62483	23952
62531	18577


select *
from productprices
where productid = 18587
and storeid = 62543

select *
from maintenancerequests
where productid = 18587
and chainid = 60620



*/



return
GO
