USE [DataTrue_Main]
GO
/****** Object:  StoredProcedure [dbo].[prUtil_EDIPromotions_Load_To_MaintenanceRequests_ZoneOrBanner_20111219]    Script Date: 06/25/2015 18:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prUtil_EDIPromotions_Load_To_MaintenanceRequests_ZoneOrBanner_20111219]
as

/*
select * from datatrue_edi.dbo.costs where recordstatus = 0 
--and SupplierIdentifier = 'BIM'
order by DateStartPromotion

select * from datatrue_edi.dbo.Promotions where loadstatus = 0 
--and SupplierIdentifier = 'BIM'
order by DateStartPromotion
Farm Fresh Duns = 1939636180000

select distinct storeduns from datatrue_edi.dbo.Promotions where loadstatus = 0 

0069271833301  
0032326880002  
0069271877700  
8008812780000  
select distinct dunsnumber from stores
*/

update datatrue_edi.dbo.Promotions set supplierid = 
case when SupplierIdentifier = 'LWS' then 41464
	when  SupplierIdentifier = 'BIM' then 40557
	when SupplierIdentifier = 'SAR' then 41465
	when SupplierIdentifier = 'NST' then 40559
end
where supplierid is null
and loadstatus = 0


select *
from  datatrue_edi.dbo.Promotions
where charindex( 'SHOPNSAV', LTRIM(rtrim(PromotionNumber))) > 0
and Loadstatus = 0

update datatrue_edi.dbo.Promotions set dtcostzoneid = 
case when charindex( 'SHOPNSAV', LTRIM(rtrim(PromotionNumber))) > 0 then 874
	when charindex('SNSSPRI', LTRIM(rtrim(PromotionNumber)) ) > 0 then 876
else null
end
,dtstorecontexttypeid = 3
where loadstatus = 0
and SupplierIdentifier = 'LWS'



select distinct custom1 from stores

select * from stores where Custom1 = 'Farm Fresh Markets'

update datatrue_edi.dbo.Promotions set banner = 
case when LTRIM(rtrim(StoreDuns)) = '1939636180000' then 'Farm Fresh Markets'
else null
end
where loadstatus = 0

select * from datatrue_edi.dbo.Promotions where loadstatus = 0
and dtstorecontexttypeid is not null
select distinct custom1 from stores
select distinct dunsnumber from stores

update datatrue_edi.dbo.Promotions set banner = 
case 
	when LTRIM(rtrim(StoreDuns)) = '1939636180000' then 'Farm Fresh Markets'
	when LTRIM(rtrim(StoreDuns)) = '0069271863600  ' then 'Albertsons - SCAL'
else null
end
,dtstorecontexttypeid = 2
where loadstatus = 0
and ltrim(rtrim(SupplierIdentifier)) = 'BIM'

update p set p.storeid = s.storeid
from datatrue_edi.dbo.Promotions p
inner join stores s
--on CAST(storenumber as int) = CAST(s.custom2 as int)
on CAST(storenumber as int) = CAST(s.storeidentifier as int)
and LTRIM(rtrim(p.banner)) = LTRIM(rtrim(custom1))

update datatrue_edi.dbo.Promotions set dtstorecontexttypeid = 
case when storeid is null and dtcostzoneid is not null then 3
	when storeid is null and dtcostzoneid IS null and banner IS Not null then 2
	when storeid Is Not null then 2
else null end
where loadstatus = 0

	
declare @rec2 cursor
declare @brandid int=0
declare @maintenancerequestid int
declare @storeid int
declare @productid int
declare @supplierid int
declare @startdate date
declare @enddate date
declare @allowance money
declare @newmaintenancerequestid int
declare @productname nvarchar(100)
declare @RawProductIdentifier nvarchar(50)
declare @marketareacode nvarchar(50)
declare @allstores bit=1
declare @banner nvarchar(50)
declare @costzoneid int
declare @storecontexttypeid smallint
declare @tradingpartnerpromotionidentifier nvarchar(50)
	
set @rec2 = CURSOR local fast_forward FOR
	select recordid, storeid, ProductId, supplierid, 
	DateStartPromotion, DateEndPromotion, Allowance_ChargeRate,
	ProductName, RawProductIdentifier, ltrim(rtrim(MarketAreaCode)),
	banner, dtcostzoneid, dtstorecontexttypeid, promotionnumber
	from datatrue_edi.dbo.Promotions
	where Loadstatus = 0
	and dtstorecontexttypeid is not null
	
	


open @rec2

fetch next from @rec2 into
	@maintenancerequestid
	,@storeid
	,@productid
	,@supplierid
	,@startdate
	,@enddate
	,@allowance
	,@productname
	,@RawProductIdentifier
	,@marketareacode
	,@banner
	,@costzoneid
	,@storecontexttypeid
	,@tradingpartnerpromotionidentifier

while @@FETCH_STATUS = 0
	begin

--select top 10 * from [DataTrue_Main].[dbo].[MaintenanceRequests]
INSERT INTO [DataTrue_Main].[dbo].[MaintenanceRequests]
           ([SubmitDateTime]
           ,[RequestTypeID]
           ,[ChainID]
           ,[SupplierID]
           ,[AllStores]
           ,[UPC]
           ,[ItemDescription]
           ,[Cost]
           ,[PromoTypeID]
           ,[PromoAllowance]
           ,[StartDateTime]
           ,[EndDateTime]
           ,[SupplierLoginID]
           ,[RequestStatus]
           ,[productid]
           ,[brandid]
           ,[CostZoneID]
           ,[Banner]
           ,[dtstorecontexttypeid]
           ,[datatrue_edi_promotions_recordid])
     VALUES
           (getdate()
           ,3
           ,40393
           ,@supplierid
           ,@allstores
           ,@RawProductIdentifier
           ,@productname
           ,0.00
           ,1
           ,@allowance
           ,@startdate
           ,@enddate
           ,0
           ,0
           ,@productid
           ,0
           ,@costzoneid
           ,@banner
           ,@storecontexttypeid
           ,@maintenancerequestid
           )
           
		update datatrue_edi.dbo.Promotions set loadstatus = 1, recordsource = 'EDI' where recordid = @maintenancerequestid

		fetch next from @rec2 into
			@maintenancerequestid
			,@storeid
			,@productid
			,@supplierid
			,@startdate
			,@enddate
			,@allowance
			,@productname
			,@RawProductIdentifier
			,@marketareacode
			,@banner
			,@costzoneid
			,@storecontexttypeid
			,@tradingpartnerpromotionidentifier
	end
	
close @rec2
deallocate @rec2
	
	
return
GO
