USE [DataTrue_Main]
GO
/****** Object:  UserDefinedTableType [dbo].[StoreTransactionIDTable]    Script Date: 06/25/2015 18:26:41 ******/
CREATE TYPE [dbo].[StoreTransactionIDTable] AS TABLE(
	[StoreTransactionID] [bigint] NULL
)
GO
