USE [DataTrue_Main]
GO
/****** Object:  StoredProcedure [dbo].[prGetSuppliers_Payments_RemittanceReport]    Script Date: 06/25/2015 18:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prGetSuppliers_Payments_RemittanceReport]
	@ChainID int
as
Begin
	select distinct PayeeEntityID as "SupplierID"
	from PaymentHistory h join Payments p
	on h.PaymentID=p.PaymentID
	and h.PaymentStatus=p.PaymentStatus
	join PaymentDisbursements d
	on h.DisbursementID=d.DisbursementID 
	and p.PaymentStatus=10 
	where ---- PayeeEntityID in (28550,26691)
	PayerEntityID in (@ChainID)
	---PayerEntityID=60624 and p.PaymentID in (68068) and PayeeEntityID=24202
	
--	and P.PaymentID in (48937,
--49693,
--50620)-------
	---AND PayeeEntityID=26641----REMOVE
	
	---Select * from Chains where ChainIdentifier = 'TOP'
--	and p.PaymentID in  (77590,
--77570,
--77293,
--78349,
--77591,
--78401,
--77592,
--78436,
--78350,
--77571,
--78351,
--77301,
--78415,
--78455,
--78352,
--78353,
--78403,
--78404,
--77304,
--78354,
--78355,
--77302,
--78456,
--78463,
--78356,
--77593,
--78402,
--77572,
--78405,
--78357,
--78358,
--78486,
--78482,
--77589,
--78359,
--77596,
--78454,
--77597,
--77300,
--78437,
--78438,
--78452,
--77587,
--77573,
--78397,
--77588,
--78400,
--78394,
--78396,
--78360,
--78413,
--78407,
--78453,
--78414,
--78361,
--78398,
--77574,
--78399,
--78362,
--78363,
--78364,
--78485,
--78392,
--78365,
--78393,
--77575,
--78366,
--78451,
--78412,
--78367,
--78368,
--78391,
--78369,
--78461,
--78370,
--78410,
--77576,
--78395,
--77585,
--78411,
--78371,
--78372,
--77298,
--77584,
--78373,
--78390,
--78439,
--77586,
--77577,
--78449,
--78450,
--77294,
--78374,
--78375,
--77295,
--78448,
--78376,
--77582,
--78389,
--78483,
--78440,
--78377,
--78484,
--78378,
--78387,
--78441,
--78379,
--78380,
--78446,
--81060,
--80981,
--80982,
--81058,
--81059,
--81083,
--81063,
--80983,
--81064,
--81065,
--80984,
--80985,
--80986,
--80987,
--80988,
--80989,
--81076,
--81082,
--80990,
--81080,
--81053,
--81054,
--81055,
--80991,
--80992,
--80993,
--80994,
--81062,
--80995,
--80996,
--80997,
--81061,
--80998,
--80999,
--81000,
--81001,
--81002,
--81048,
--81049,
--81050,
--81051,
--81003,
--81004,
--81052,
--81005,
--81006,
--81056,
--81057,
--81007,
--81079,
--81008,
--81081,
--81046,
--81040,
--81009,
--81041,
--81043,
--81010,
--81042,
--81011,
--81012,
--81013,
--81044,
--81045,
--81014,
--81037,
--81015,
--81016,
--81017,
--81039,
--81018,
--81047,
--81035,
--81019,
--81020,
--81031,
--81033,
--81021,
--81022,
--81034,
--81023,
--81036,
--81024,
--81038,
--81030,
--81086,
--81085,
--81025,
--81077,
--81087,
--81026,
--81027,
--81028,
--81029,
--81078,
--81032,
--81084,
--81067,
--81068,
--81066,
--81069,
--81070,
--64758,
--66277,
--67328,
--68501,
--69773,
--70954,
--72993,
--74671,
--76991,
--78702,
--80458,
--82271,
--80459)
and VoidStatus is NULL ------and  CONVERT (date,DisbursementDate) <'02/27/15'

End
GO
