USE [DataTrue_Main]
GO
/****** Object:  View [dbo].[InventoryCount_SinceLastSettlement_Deliveries]    Script Date: 06/25/2015 18:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[InventoryCount_SinceLastSettlement_Deliveries]
AS
SELECT     SUM(dbo.StoreTransactions.Qty * dbo.TransactionTypes.QtySign) AS TTLDeliveries, 
                      SUM(dbo.StoreTransactions.Qty * dbo.TransactionTypes.QtySign * dbo.StoreTransactions.RuleCost) AS TTLDeliveries$, dbo.StoreTransactions.SupplierID, 
                      dbo.StoreTransactions.StoreID, dbo.StoreTransactions.UPC
FROM         dbo.StoreTransactions INNER JOIN
                      dbo.TransactionTypes ON dbo.StoreTransactions.TransactionTypeID = dbo.TransactionTypes.TransactionTypeID INNER JOIN
                      dbo.InventoryCount_DatesLastCountLastSettelment ON dbo.StoreTransactions.SupplierID = dbo.InventoryCount_DatesLastCountLastSettelment.SupplierID AND 
                      dbo.StoreTransactions.StoreID = dbo.InventoryCount_DatesLastCountLastSettelment.StoreID AND 
                      dbo.StoreTransactions.UPC = dbo.InventoryCount_DatesLastCountLastSettelment.UPC
WHERE     (dbo.StoreTransactions.SaleDateTime >= dbo.InventoryCount_DatesLastCountLastSettelment.LastInventorySettelmentDate AND 
                      dbo.StoreTransactions.SaleDateTime < dbo.InventoryCount_DatesLastCountLastSettelment.LastInventoryCountDate)
GROUP BY dbo.TransactionTypes.BucketTypeName, dbo.StoreTransactions.SupplierID, dbo.StoreTransactions.StoreID, dbo.StoreTransactions.UPC
HAVING      (dbo.TransactionTypes.BucketTypeName = N'Supplier')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "StoreTransactions"
            Begin Extent = 
               Top = 7
               Left = 643
               Bottom = 261
               Right = 881
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "TransactionTypes"
            Begin Extent = 
               Top = 7
               Left = 929
               Bottom = 255
               Right = 1187
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "InventoryCount_DatesLastCountLastSettelment"
            Begin Extent = 
               Top = 32
               Left = 192
               Bottom = 140
               Right = 431
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 7125
         Alias = 900
         Table = 2070
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 6525
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'InventoryCount_SinceLastSettlement_Deliveries'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'InventoryCount_SinceLastSettlement_Deliveries'
GO
