USE [DataTrue_Main]
GO
/****** Object:  StoredProcedure [dbo].[ZNU_prMaintenanceRequest_Process_AllRecords_20120128]    Script Date: 06/25/2015 18:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ZNU_prMaintenanceRequest_Process_AllRecords_20120128]
as

declare @showquery bit=1
declare @recmr cursor
declare @recstores cursor
declare @requesttypeid smallint
declare @chainid int
declare @supplierid int
declare @banner nvarchar(50)
declare @allstores smallint
declare @upc nvarchar(50)
declare @brandidentifier nvarchar(50)
declare @itemdescription nvarchar(255)
declare @currentsetupcosts money
declare @requestedcost money
declare @suggestedretail money
declare @promotypeid smallint
declare @promoallowance money
declare @startdate datetime
declare @enddate datetime
declare @costzoneid int
declare @productid int

declare @maintenancerequestid int
declare @upc12  nvarchar(50)
declare @edicostrecordid int
declare @edipromorecordid int
declare @storecontexttypeid smallint
declare @productpricetypeid smallint
declare @cusrosql nvarchar(2000)
declare @uniqueid uniqueidentifier
declare @storeid int
declare @pricevaluetopass money
declare @brandid int
declare @edibanner nvarchar(50)
declare @storedunsnumber nvarchar(50)
declare @tradingpartnervalue nvarchar(50)
declare @tradingpartnerpromotionidentifier nvarchar(50)
declare @suppliername nvarchar(50)
declare @storeidentifierfromstorestable nvarchar(50)
declare @custom1fromstorestable nvarchar(50)
declare @storedunsnumberfromstorestable nvarchar(50)
declare @storesbtnumberfromstorestable nvarchar(50)
declare @markeddeleted bit
declare @SkipPopulating879_889Records bit
declare @bannerisvalid int
declare @emailmessage nvarchar(1000)
declare @dtproductdescription nvarchar(100)
declare @recordvalidated bit
--declare @showquery bit=1
declare @applyupdate bit=1
declare @applyedistatusupdate bit=1

--select * from maintenancerequests where maintenancerequestid between 14131 and 14195
--update maintenancerequests set dtstorecontexttypeid = 2 where maintenancerequestid between 14131 and 14195
update  m set m.SkipPopulating879_889Records = case when SupplierID = 40558 then 1 else 0 end
--select *
from dbo.MaintenanceRequests m
where 1 = 1
and RequestStatus = 0
and SkipPopulating879_889Records is null
--and SupplierID = 40558

 set @recmr = CURSOR local fast_forward FOr
 
 SELECT maintenancerequestid
		,[RequestTypeID]
      ,[ChainID]
      ,[SupplierID]
      ,ltrim(rtrim([Banner]))
      ,[AllStores]
      ,ltrim(rtrim([UPC]))
      ,[BrandIdentifier]
      ,[ItemDescription]
      ,[CurrentSetupCost]
      ,[Cost]
      ,isnull([SuggestedRetail], 0.00)
      ,[PromoTypeID]
      ,case when [PromoAllowance] <  0 then [PromoAllowance] * -1 else [PromoAllowance] end
      ,[StartDateTime]
      ,[EndDateTime]
      ,[CostZoneID]
      ,[ProductID]
      ,[upc12]
      ,[datatrue_edi_costs_recordid]
      ,[datatrue_edi_promotions_recordid]
      ,[dtstorecontexttypeid]
      ,isnull([BrandID], 0)
      ,TradingPartnerPromotionIdentifier
      ,ISNULL(MarkDeleted, 0)
      ,SkipPopulating879_889Records
      ,isnull(dtproductdescription, 'UNKNOWN')
      --select distinct requeststatus
      --update mr set mr.banner = 'Farm Fresh Markets', mr.dtstorecontexttypeid = 2
      --update mr set mr.dtstorecontexttypeid = null, costzoneid = 875
      --update mr set mr.dtstorecontexttypeid = 2
      --select emailgeneratedtosupplier, *
  FROM [DataTrue_Main].[dbo].[MaintenanceRequests] mr
	where 1 = 1
	--and MarkDeleted is not null
	and dtstorecontexttypeid is not null
	and MarkDeleted is null
	and Approved = 1
	--and SkipPopulating879_889Records = 0
	--and Skip_879_889_Conversion_ProcessCompleted = 1
	and RequestStatus = 0
	--and RequestStatus = -22
	--and RequestStatus not in (-22, -44, -5)
	--and PromoAllowance <> 0
	--and [Cost] <> 0 
	--and Cost is not null
	--and RequestTypeID in (3)
	--and RequestTypeID not in (1)
	and ProductId is not null
	--and ProductId = 14701
	--and CostZoneID is not null
	--order by approvaldatetime
	--and dtstorecontexttypeid = 3
	--and Banner is not null
	--and CostZoneID is not null
	--and CostZoneID <> -1
	--and Banner is not null
	--and datatrue_edi_costs_recordid is not null
	--and datatrue_edi_promotions_recordid is not null
	--and SupplierID in (40562)
	--and SupplierID not in (40567)
	--and StartDateTime < '2012-02-06 00:00:00.000'
	--and emailgeneratedtosupplier <> 'Bill.Harris@icontroldsd.com'
	--and MarkDeleted is not null
	--and Banner = 'SHOPPERS FOOD AND PHARMACY'
	--and maintenancerequestid between 14131 and 14195
	--and maintenancerequestid in (30858)
	--order by Startdatetime
	order by ApprovalDateTime
	--order by supplierid
	--order by banner
	--order by MaintenanceRequestID

/*	
select * from datatrue_edi.dbo.edi_suppliercrossreference
*/

open @recmr
--select top 100 *   FROM [DataTrue_Main].[dbo].[MaintenanceRequests] where requeststatus = 0 and approved = 1
fetch next from @recmr into
	@maintenancerequestid
	,@requesttypeid
	, @chainid
	, @supplierid
	, @banner
	, @allstores
	, @upc
	, @brandidentifier
	, @itemdescription
	, @currentsetupcosts
	, @requestedcost
	, @suggestedretail
	, @promotypeid
	, @promoallowance
	, @startdate
	, @enddate
	, @costzoneid
	,@productid
	,@upc12
	,@edicostrecordid
	,@edipromorecordid
	,@storecontexttypeid
	,@brandid
	,@tradingpartnerpromotionidentifier
	,@markeddeleted
	,@SkipPopulating879_889Records
	,@dtproductdescription

while @@FETCH_STATUS = 0
	begin
print @maintenancerequestid
print @productid
print @supplierid
print @startdate
print @enddate
print @storecontexttypeid
print @banner

		set @bannerisvalid = 0
		set @recordvalidated = 1
		
		if @storecontexttypeid not in (1,2,3,4,5) or @storecontexttypeid is null
			begin
				set @recordvalidated = 0
				set @emailmessage = 'MaintenanceRequests recordid ' + cast(@maintenancerequestid as varchar) + ' has an invalid store context value and can not be processed.  Please correct the value.'
				exec dbo.prSendEmailNotification_PassEmailAddresses 'MaintenanceRequests - Invalid Store Context'
				,@emailmessage
				,'DataTrue System', 0, 'charlie.clark@icontroldsd.com'

			end
		
		if @storecontexttypeid = 2
			begin
				select @bannerisvalid = COUNT(storeid)
				from stores where LTRIM(rtrim(custom1)) = LTRIM(rtrim(@banner))
				and Custom1 is not null
				
				if @bannerisvalid is null
					set @bannerisvalid = 0
					
				if @bannerisvalid < 1 and @storecontexttypeid = 2
					begin
						set @recordvalidated = 0
						set @emailmessage = 'MaintenanceRequests recordid ' + cast(@maintenancerequestid as varchar) + ' has an invalid banner value and can not be processed.  Please correct the banner value.'
						exec dbo.prSendEmailNotification_PassEmailAddresses 'MaintenanceRequests - Invalid Store Banner'
						,@emailmessage
						,'DataTrue System', 0, 'charlie.clark@icontroldsd.com'
					end
			end

		
		if @storecontexttypeid = 3
			begin
				select @bannerisvalid = COUNT(costzoneid)
				from costzones where LTRIM(rtrim(CostZoneID)) = LTRIM(rtrim(@costzoneid))
				
				if @bannerisvalid is null
					set @bannerisvalid = 0
					
				if @bannerisvalid < 1 and @storecontexttypeid = 3
					begin
						set @recordvalidated = 0
						set @emailmessage = 'MaintenanceRequests recordid ' + cast(@maintenancerequestid as varchar) + ' has an invalid costzone value and can not be processed.  Please correct the value.'
						exec dbo.prSendEmailNotification_PassEmailAddresses 'MaintenanceRequests - Invalid Cost Zone'
						,@emailmessage
						,'DataTrue System', 0, 'charlie.clark@icontroldsd.com'
					end
			end
			
		select @suppliername = SupplierName
		from Suppliers 
		where SupplierID = @supplierid

		set @tradingpartnervalue = 						
		case when @SupplierId = 41464 then  'LWS'
			when  @SupplierId = 40557 then 'BIM'
			when @SupplierId = 41465 then 'SAR'
			when @SupplierId = 40559  then 'NST'
			when @SupplierId = 41342  then 'DIA'
			when @SupplierId = 40563 then 'MRV'
			when @SupplierId = 40570 then 'SONY'
			when @supplierid = 40567 then 'FLO'
			when @supplierid = 40562 then 'PEP'
			when @supplierid = 40578 then 'BUR'
			when @supplierid = 40558 then 'GOP'
		else null
		end		

		set @productpricetypeid =
			case when @requesttypeid IN (1, 2) then 3
				when  @requesttypeid IN (3, 4, 5) then 8
			end


		set @pricevaluetopass =
			case when @requesttypeid IN (1, 2) then @requestedcost
				when  @requesttypeid IN (3, 4, 5) then @promoallowance
			end		
print @pricevaluetopass				
		set @enddate =
			case when @requesttypeid IN (1, 2) then '12/31/2099'
				when  @requesttypeid IN (3, 4, 5) then @enddate
			end					
			
		if @productpricetypeid is not null
			begin
			
				set @uniqueid = NEWID()
				
				If @storecontexttypeid = 1 --Store Specific
					begin
						insert into tmpMaintenanceRequestStoreIDList
						select @uniqueid, storeid 
						from dbo.MaintenanceRequestStores 
						where MaintenanceRequestID = @maintenancerequestid
						and Included = 1
						
						if @showquery = 1
							begin 
								select *
								from ProductPrices
								where ProductPriceTypeID = @productpricetypeid
								and ProductID = @productid
								and SupplierID = @supplierid
								and StoreID in
								(select storeid 
								from dbo.MaintenanceRequestStores 
								where MaintenanceRequestID = @maintenancerequestid)
							end							
					end
				If @storecontexttypeid = 2 --Banner (custom1 in stores table)
					begin
						insert into tmpMaintenanceRequestStoreIDList
						select @uniqueid, storeid 
						from stores
						where LTRIM(rtrim(custom1)) = @banner
						
						if @showquery = 1
							begin 
								select *
								from ProductPrices
								where ProductPriceTypeID = @productpricetypeid
								and ProductID = @productid
								and SupplierID = @supplierid
								and StoreID in
								(select storeid 
								from stores
								where LTRIM(rtrim(custom1)) = @banner)
							end
					end				
				If @storecontexttypeid = 3 --CostZoneID
					begin
						insert into tmpMaintenanceRequestStoreIDList
						select @uniqueid, storeid 
						from CostZoneRelations r
						inner join CostZones z
						on r.CostZoneID = z.CostZoneID
						where z.CostZoneID = @costzoneid
						
						if @showquery = 1
							begin 						
								select *
								from ProductPrices
								where ProductPriceTypeID = @productpricetypeid
								and ProductID = @productid
								and SupplierID = @supplierid
								and StoreID in
								(select storeid 
								from CostZoneRelations r
								inner join CostZones z
								on r.CostZoneID = z.CostZoneID
								where z.CostZoneID = @costzoneid)
							end
					end		
				If @storecontexttypeid = 4 --CostZoneName
					begin
						insert into tmpMaintenanceRequestStoreIDList
						select @uniqueid, storeid 
						from CostZoneRelations r
						inner join CostZones z
						on r.CostZoneID = z.CostZoneID
						where ltrim(rtrim(z.CostZoneName)) = cast(@costzoneid as nvarchar)
						
						select *
						from ProductPrices
						where ProductPriceTypeID = @productpricetypeid
						and ProductID = @productid
						and SupplierID = @supplierid
						and StoreID in
						(select distinct storeid 
						from CostZoneRelations r
						inner join CostZones z
						on r.CostZoneID = z.CostZoneID
						where ltrim(rtrim(z.CostZoneName)) = cast(@costzoneid as nvarchar))						
					end	
				If @storecontexttypeid = 5 --All Stores Supplier Serves
					begin
						insert into tmpMaintenanceRequestStoreIDList
						select distinct @uniqueid, storeid 
						from StoreTransactions
						where SupplierID = @supplierid
						
						select *
						from ProductPrices
						where ProductPriceTypeID = @productpricetypeid
						and ProductID = @productid
						and SupplierID = @supplierid
						and StoreID in
						(select distinct storeid 
						from StoreTransactions
						where SupplierID = @supplierid)
					end						
				if @supplierid = 40558 and @SkipPopulating879_889Records = 0
					begin
						set @SkipPopulating879_889Records = 0
					end
				else
					begin												
						set @recstores = CURSOR local fast_forward FOR 
							select storeid from tmpMaintenanceRequestStoreIDList
							where ID = @uniqueid

							
						open @recstores
						
						fetch next from @recstores into @storeid
						
						while @@FETCH_STATUS = 0
							begin
							
							if @applyupdate = 1 and @recordvalidated = 1
								begin
									exec [dbo].[prProductPrice_Manage]
									@chainid
									,@storeid
									,@productid
									,@brandid
									,@supplierid
									,@productpricetypeid
									,@pricevaluetopass
									,@startdate
									,@enddate
									,@suggestedretail
									,0
									,@markeddeleted
									,@tradingpartnerpromotionidentifier
								end			
							
							
							
								fetch next from @recstores into @storeid
							end
							
						
						close @recstores
						deallocate @recstores
					end
				
				
				If @storecontexttypeid = 1 --Store Specific
					begin

						if @showquery = 1
							begin 
								select *
								from ProductPrices
								where ProductPriceTypeID = @productpricetypeid
								and ProductID = @productid
								and SupplierID = @supplierid
								and StoreID in
								(select storeid 
								from dbo.MaintenanceRequestStores 
								where MaintenanceRequestID = @maintenancerequestid)
							end							
					end				
				
				
					If @storecontexttypeid = 2 and @applyupdate = 1  and @showquery = 1 --Banner (custom1 in stores table)
					begin
						select *
						from ProductPrices
						where ProductPriceTypeID = @productpricetypeid
						and ProductID = @productid
						and SupplierID = @supplierid
						and StoreID in
						(select storeid 
						from stores
						where LTRIM(rtrim(custom1)) = @banner)
					end				
			
					If @storecontexttypeid = 3 and @applyupdate = 1 and @showquery = 1 
					  begin
						select *
						from ProductPrices
						where ProductPriceTypeID = @productpricetypeid
						and ProductID = @productid
						and SupplierID = @supplierid
						and StoreID in
						(select storeid 
						from CostZoneRelations r
						inner join CostZones z
						on r.CostZoneID = z.CostZoneID
						where z.CostZoneID = @costzoneid)
					  end	
					  
					  
				If @storecontexttypeid = 4  and @showquery = 1 --All Stores Supplier Serves
					begin						
						select *
						from ProductPrices
						where ProductPriceTypeID = @productpricetypeid
						and ProductID = @productid
						and SupplierID = @supplierid
						and StoreID in
						(select distinct storeid 
						from CostZoneRelations r
						inner join CostZones z
						on r.CostZoneID = z.CostZoneID
						where ltrim(rtrim(z.CostZoneName)) = cast(@costzoneid as nvarchar))	
					end					  
					  
					  
					  		
				If @storecontexttypeid = 5  and @showquery = 1 --All Stores Supplier Serves
					begin
						select *
						from ProductPrices
						where ProductPriceTypeID = @productpricetypeid
						and ProductID = @productid
						and SupplierID = @supplierid
						and StoreID in
						(select distinct storeid 
						from StoreTransactions
						where SupplierID = @supplierid)
					end				
			
			end

		delete from tmpMaintenanceRequestStoreIDList where ID = @uniqueid
		
		if @requesttypeid in (1, 2) and @applyedistatusupdate = 1 and @recordvalidated = 1
			begin
				if @edicostrecordid is not null
					begin
						update datatrue_edi.dbo.Costs
						set RecordStatus = case when @SkipPopulating879_889Records = 1 then 20 else 10 end, 
						dtmaintenancerequestid = @maintenancerequestid, 
						ProductName = Case when upper(@dtproductdescription) = 'UNKNOWN' then ProductName else @dtproductdescription end,
						ProductNameReceived = ProductName
						where RecordID = @edicostrecordid
					end
				else
					begin--************************************************
					
					
					if @storecontexttypeid = 1 and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0
						  begin
						  
							select @storeidentifierfromstorestable = ltrim(RTRIM(storeidentifier))
							,@custom1fromstorestable = LTRIM(rtrim(custom1))
							,@storedunsnumberfromstorestable = LTRIM(rtrim(DunsNumber))
							,@edibanner = LTRIM(rtrim(custom3))
							,@storesbtnumberfromstorestable = LTRIM(rtrim(custom2))
							from stores where storeid = @storeid
							
							INSERT INTO [DataTrue_EDI].[dbo].[Costs]
									   ([PartnerIdentifier]
									   ,[PriceChangeCode]
									   ,[Banner]
									   ,[StoreIdentifier]
									   ,[StoreName]
									   ,[PricingMarket]
									   ,[AllStores]
									   ,[Cost]
									   ,[SuggRetail]
									   ,[RawProductIdentifier]
									   ,[ProductIdentifier]
									   ,[ProductName]
									   ,[EffectiveDate]
									   ,[EndDate]
									   ,[RecordStatus]
									   ,[dtchainid]
									   ,[dtproductid]
									   ,[dtbrandid]
									   ,[dtsupplierid]
									   ,[dtbanner]
									   ,[PartnerName]
									   ,[dtstorecontexttypeid]
									   ,[dtmaintenancerequestid]
									   ,[Recordsource]
									   ,[dtcostzoneid])
								   values(@tradingpartnervalue
								   ,case when @requesttypeid = 1 then 'A' else 'B' end
								   ,@edibanner
								   ,@storedunsnumber
								   ,@banner
								   ,'002'
								   ,@allstores
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@suggestedretail
								   ,@upc
								   ,@upc12
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,@startdate
								   ,@enddate
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@banner
								   ,@suppliername
								   ,2 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@costzoneid)
							
						end --*********
					
						if @storecontexttypeid in (2) and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0
						  begin
							set @storedunsnumber =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then '1939636180000'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then '0069271863600'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then '0069271833301'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then '0069271877700'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then '0032326880002'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then '8008812780000'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then '0299516910000'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then '4233100000000'
							else null
							end	

							set @edibanner =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then 'SS'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then 'SV'
								
							else null
							end	
				--corporatename = custom1, corporateidentifier = dunsnumber, banner = custom3, suppliername
				--006 for banner 002 for store
				--select top 100 * from [DataTrue_EDI].[dbo].[Costs]
							INSERT INTO [DataTrue_EDI].[dbo].[Costs]
									   ([PartnerIdentifier]
									   ,[PriceChangeCode]
									   ,[Banner]
									   ,[StoreIdentifier]
									   ,[StoreName]
									   ,[PricingMarket]
									   ,[AllStores]
									   ,[Cost]
									   ,[SuggRetail]
									   ,[RawProductIdentifier]
									   ,[ProductIdentifier]
									   ,[ProductName]
									   ,[EffectiveDate]
									   ,[EndDate]
									   ,[RecordStatus]
									   ,[dtchainid]
									   ,[dtproductid]
									   ,[dtbrandid]
									   ,[dtsupplierid]
									   ,[dtbanner]
									   ,[PartnerName]
									   ,[dtstorecontexttypeid]
									   ,[dtmaintenancerequestid]
									   ,[Recordsource]
									   ,[dtcostzoneid])
								   values(@tradingpartnervalue
								   ,case when @requesttypeid = 1 then 'A' else 'B' end
								   ,@edibanner
								   ,@storedunsnumber
								   ,@banner
								   ,'006'
								   ,@allstores
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@suggestedretail
								   ,@upc
								   ,@upc12
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,@startdate
								   ,@enddate
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@banner
								   ,@suppliername
								   ,2 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@costzoneid)
							end					
							
						if @storecontexttypeid in (3,4) and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0 and @recordvalidated = 1
						  begin
							set @storedunsnumber =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then '1939636180000'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then '0069271863600'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then '0069271833301'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then '0069271877700'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then '0032326880002'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then '8008812780000'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then '0299516910000'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then '4233100000000'
							else null
							end	

							set @edibanner =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then 'SS'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then 'SV'
								
							else null
							end	
				--corporatename = custom1, corporateidentifier = dunsnumber, banner = custom3, suppliername
				--006 for banner 002 for store
				--select top 100 * from [DataTrue_EDI].[dbo].[Costs]
							INSERT INTO [DataTrue_EDI].[dbo].[Costs]
									   ([PartnerIdentifier]
									   ,[PriceChangeCode]
									   ,[Banner]
									   ,[StoreIdentifier]
									   ,[StoreName]
									   ,[PricingMarket]
									   ,[AllStores]
									   ,[Cost]
									   ,[SuggRetail]
									   ,[RawProductIdentifier]
									   ,[ProductIdentifier]
									   ,[ProductName]
									   ,[EffectiveDate]
									   ,[EndDate]
									   ,[RecordStatus]
									   ,[dtchainid]
									   ,[dtproductid]
									   ,[dtbrandid]
									   ,[dtsupplierid]
									   ,[dtbanner]
									   ,[PartnerName]
									   ,[dtstorecontexttypeid]
									   ,[dtmaintenancerequestid]
									   ,[Recordsource]
									   ,[dtcostzoneid])
								   values(@tradingpartnervalue
								   ,case when @requesttypeid = 1 then 'A' else 'B' end
								   ,@edibanner
								   ,@storedunsnumber
								   ,@banner
								   ,@costzoneid --'006'
								   ,@allstores
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@suggestedretail
								   ,@upc
								   ,@upc12
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,@startdate
								   ,@enddate
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@banner
								   ,@suppliername
								   ,3 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@costzoneid)
							end		
											
						if @storecontexttypeid in (5) and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0
						  begin
						  
						  declare @recbanner cursor
						  declare @supplierbanner nvarchar(50)
						  
						  set @recbanner = CURSOR local fast_forward FOR
						  
						  
								select distinct custom1
								from stores
								where StoreID in
								(SELECT distinct storeid
								from storetransactions
								where supplierid = @supplierid)	
								
							open @recbanner
						  
							fetch next from @recbanner into @supplierbanner
							
							while @@FETCH_STATUS = 0
								begin
						  
							set @storedunsnumber =					
							case 
								when LTRIM(rtrim(@supplierbanner)) = 'Farm Fresh Markets' then '1939636180000'
								when LTRIM(rtrim(@supplierbanner)) = 'Albertsons - SCAL' then '0069271863600'
								when LTRIM(rtrim(@supplierbanner)) = 'Albertsons - IMW'  then '0069271833301'
								when LTRIM(rtrim(@supplierbanner)) = 'Albertsons - ACME' then '0069271877700'
								when LTRIM(rtrim(@supplierbanner)) = 'Cub Foods' then '0032326880002'
								when LTRIM(rtrim(@supplierbanner)) = 'Shop N Save Warehouse Foods Inc' then '8008812780000'
								when LTRIM(rtrim(@supplierbanner)) = 'Hornbachers' then '0299516910000'
								when LTRIM(rtrim(@supplierbanner)) = 'Shoppers Food and Pharmacy' then '4233100000000'
							else null
							end	

							set @edibanner =					
							case 
								when LTRIM(rtrim(@supplierbanner)) = 'Farm Fresh Markets' then 'SV'
								when LTRIM(rtrim(@supplierbanner)) = 'Albertsons - SCAL' then 'ABS'
								when LTRIM(rtrim(@supplierbanner)) = 'Albertsons - IMW'  then 'ABS'
								when LTRIM(rtrim(@supplierbanner)) = 'Albertsons - ACME' then 'ABS'
								when LTRIM(rtrim(@supplierbanner)) = 'Cub Foods' then 'SV'
								when LTRIM(rtrim(@supplierbanner)) = 'Shop N Save Warehouse Foods Inc' then 'SS'
								when LTRIM(rtrim(@supplierbanner)) = 'Hornbachers' then 'SV'
								when LTRIM(rtrim(@supplierbanner)) = 'Shoppers Food and Pharmacy' then 'SV'
								
							else null
							end	
				--corporatename = custom1, corporateidentifier = dunsnumber, banner = custom3, suppliername
				--006 for banner 002 for store
				--select top 100 * from [DataTrue_EDI].[dbo].[Costs]
							INSERT INTO [DataTrue_EDI].[dbo].[Costs]
									   ([PartnerIdentifier]
									   ,[PriceChangeCode]
									   ,[Banner]
									   ,[StoreIdentifier]
									   ,[StoreName]
									   ,[PricingMarket]
									   ,[AllStores]
									   ,[Cost]
									   ,[SuggRetail]
									   ,[RawProductIdentifier]
									   ,[ProductIdentifier]
									   ,[ProductName]
									   ,[EffectiveDate]
									   ,[EndDate]
									   ,[RecordStatus]
									   ,[dtchainid]
									   ,[dtproductid]
									   ,[dtbrandid]
									   ,[dtsupplierid]
									   ,[dtbanner]
									   ,[PartnerName]
									   ,[dtstorecontexttypeid]
									   ,[dtmaintenancerequestid]
									   ,[Recordsource]
									   ,[dtcostzoneid])
								   values(@tradingpartnervalue
								   ,case when @requesttypeid = 1 then 'A' else 'B' end
								   ,@edibanner
								   ,@storedunsnumber
								   ,@supplierbanner --@banner
								   ,'006'
								   ,@allstores
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@suggestedretail
								   ,@upc
								   ,@upc12
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,@startdate
								   ,@enddate
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@banner
								   ,@suppliername
								   ,2 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@costzoneid)
						
								fetch next from @recbanner into @supplierbanner

							end					
						
						close @recbanner
						deallocate @recbanner							
						
						end
						
							
							
							
										
					end--**************************************************																					
			end
		if @requesttypeid in (3, 4, 5) and @applyedistatusupdate = 1 and @recordvalidated = 1
			begin
				if @edipromorecordid is not null
					begin
						update datatrue_edi.dbo.Promotions
						set Loadstatus = case when @SkipPopulating879_889Records = 1 then 20 else 10 end,
						dtmaintenancerequestid = @maintenancerequestid,
						SentToRetailer = CASe when cast(dateendpromotion as date) < dateadd(day, 2, getdate()) then 1 else 0 end,
						ProductName = Case when upper(@dtproductdescription) = 'UNKNOWN' then ProductName else @dtproductdescription end,
						ProductNameReceived = ProductName

						where RecordID = @edipromorecordid
					end
				else
					begin
					
					
					
							if @storecontexttypeid = 1 and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0
						  begin
						  
							select @storeidentifierfromstorestable = ltrim(RTRIM(storeidentifier))
							,@custom1fromstorestable = LTRIM(rtrim(custom1))
							,@storedunsnumberfromstorestable = LTRIM(rtrim(DunsNumber))
							,@edibanner = LTRIM(rtrim(custom3))
							,@storesbtnumberfromstorestable = LTRIM(rtrim(custom2))
							from stores where storeid = @storeid
/*						  
							set @storedunsnumber =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then '1939636180000'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then '0069271863600'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then '0069271833301'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then '0069271877700'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then '0032326880002'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then '8008812780000'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then '0299516910000'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then '4233100000000'
							else null
							end	

							set @edibanner =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then 'SS'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then 'SV'
								
							else null
							end	
*/
				--corporatename = custom1, corporateidentifier = dunsnumber, banner = custom3, suppliername
				--006 for banner 002 for store
						INSERT INTO [DataTrue_EDI].[dbo].[Promotions]
								   ([MarketAreaCodeIdentifier]
								   ,[SupplierIdentifier]
								   ,[DateStartPromotion]
								   ,[DateEndPromotion]
								   ,[PromotionNumber]
								   ,[CorporateName]
								   ,[CorpIdentifier]
								   ,[ProductName]
								   ,[Allowance_ChargeRate]
								   ,[RawProductIdentifier]
								   ,[ProductIdentifier]
								   ,[Loadstatus]
								   ,[chainid]
								   ,[productid]
								   ,[brandid]
								   ,[supplierid]
								   ,[banner]
								   ,[SupplierName]
								   ,[dtstorecontexttypeid]
								   ,[dtmaintenancerequestid]
								   ,[Recordsource]
								   ,[dtbanner]
								   ,[storeid]
								   ,[storename]
								   ,[storenumber]
								   ,[storeduns]
								   ,[storeidentifier]
								   ,[StoreSBTNumber]
								   ,[dtcostzoneid]
								   ,[SentToRetailer])
								   values('002'
								   ,@tradingpartnervalue
								   ,@startdate
								   ,@enddate
								   ,isnull(@tradingpartnerpromotionidentifier, 'MR-' + LTRIM(rtrim(@tradingpartnervalue)) + '-' + @upc12 + LEFT(replace(replace(cast(@startdate as nvarchar), ' ', ''), ':',''), 11))
								   ,@banner
								   ,@storedunsnumber
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@upc
								   ,@upc12
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@edibanner
								   ,@suppliername
								   ,1 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@banner
								   ,@storeid
								   ,@custom1fromstorestable
								   ,@storeidentifierfromstorestable
								   ,@storedunsnumberfromstorestable --@storedunsnumber
								   ,@storeidentifierfromstorestable
								   ,@storesbtnumberfromstorestable
								   ,@costzoneid
								   ,CASe when cast(@enddate as date) < dateadd(day, 2, getdate()) then 1 else 0 end)
							end

				
					
					
					
					
						if @storecontexttypeid = 2 and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0
						  begin
							set @storedunsnumber =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then '1939636180000'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then '0069271863600'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then '0069271833301'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then '0069271877700'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then '0032326880002'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then '8008812780000'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then '0299516910000'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then '4233100000000'
							else null
							end	

							set @edibanner =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then 'SS'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then 'SV'
								
							else null
							end	
				--corporatename = custom1, corporateidentifier = dunsnumber, banner = custom3, suppliername
				--006 for banner 002 for store
						INSERT INTO [DataTrue_EDI].[dbo].[Promotions]
								   ([MarketAreaCodeIdentifier]
								   ,[SupplierIdentifier]
								   ,[DateStartPromotion]
								   ,[DateEndPromotion]
								   ,[PromotionNumber]
								   ,[CorporateName]
								   ,[CorpIdentifier]
								   ,[ProductName]
								   ,[Allowance_ChargeRate]
								   ,[RawProductIdentifier]
								   ,[ProductIdentifier]
								   ,[Loadstatus]
								   ,[chainid]
								   ,[productid]
								   ,[brandid]
								   ,[supplierid]
								   ,[banner]
								   ,[SupplierName]
								   ,[dtstorecontexttypeid]
								   ,[dtmaintenancerequestid]
								   ,[Recordsource]
								   ,[dtbanner]
								   ,[dtcostzoneid]
								   ,[SentToRetailer])
								   values('006'
								   ,@tradingpartnervalue
								   ,@startdate
								   ,@enddate
								   ,isnull(@tradingpartnerpromotionidentifier, 'MR-' + LTRIM(rtrim(@tradingpartnervalue)) + '-' + @upc12 + LEFT(replace(replace(cast(@startdate as nvarchar), ' ', ''), ':',''), 11))
								   ,@banner
								   ,@storedunsnumber
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@upc
								   ,@upc12
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@edibanner
								   ,@suppliername
								   ,2 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@banner
								   ,@costzoneid
								   ,CASe when cast(@enddate as date) < dateadd(day, 2, getdate()) then 1 else 0 end)
							end


						if @storecontexttypeid in (3,4) and @applyedistatusupdate = 1 and @SkipPopulating879_889Records = 0
						  begin
							set @storedunsnumber =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then '1939636180000'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then '0069271863600'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then '0069271833301'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then '0069271877700'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then '0032326880002'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then '8008812780000'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then '0299516910000'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then '4233100000000'
							else null
							end	

							set @edibanner =					
							case 
								when LTRIM(rtrim(@banner)) = 'Farm Fresh Markets' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Albertsons - SCAL' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - IMW'  then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Albertsons - ACME' then 'ABS'
								when LTRIM(rtrim(@banner)) = 'Cub Foods' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shop N Save Warehouse Foods Inc' then 'SS'
								when LTRIM(rtrim(@banner)) = 'Hornbachers' then 'SV'
								when LTRIM(rtrim(@banner)) = 'Shoppers Food and Pharmacy' then 'SV'
								
							else null
							end	
				--corporatename = custom1, corporateidentifier = dunsnumber, banner = custom3, suppliername
				--006 for banner 002 for store
						INSERT INTO [DataTrue_EDI].[dbo].[Promotions]
								   ([MarketAreaCodeIdentifier]
								   ,[SupplierIdentifier]
								   ,[DateStartPromotion]
								   ,[DateEndPromotion]
								   ,[PromotionNumber]
								   ,[CorporateName]
								   ,[CorpIdentifier]
								   ,[ProductName]
								   ,[Allowance_ChargeRate]
								   ,[RawProductIdentifier]
								   ,[ProductIdentifier]
								   ,[Loadstatus]
								   ,[chainid]
								   ,[productid]
								   ,[brandid]
								   ,[supplierid]
								   ,[banner]
								   ,[SupplierName]
								   ,[dtstorecontexttypeid]
								   ,[dtmaintenancerequestid]
								   ,[Recordsource]
								   ,[dtbanner]
								   ,[dtcostzoneid]
								   ,[SentToRetailer])
								   values(@costzoneid
								   ,@tradingpartnervalue
								   ,@startdate
								   ,@enddate
								   ,isnull(@tradingpartnerpromotionidentifier, 'MR-' + LTRIM(rtrim(@tradingpartnervalue)) + '-' + @upc12 + LEFT(replace(replace(cast(@startdate as nvarchar), ' ', ''), ':',''), 11))
								   ,@banner
								   ,@storedunsnumber
								   ,case when upper(@dtproductdescription) = 'UNKNOWN' then @itemdescription else @dtproductdescription end
								   ,ltrim(rtrim(cast(@pricevaluetopass as nvarchar)))
								   ,@upc
								   ,@upc12
								   ,10 --loadstatus
								   ,@chainid
								   ,@productid
								   ,@brandid
								   ,@supplierid
								   ,@edibanner
								   ,@suppliername
								   ,@storecontexttypeid --2 --storecontexttypeid
								   ,@maintenancerequestid
								   ,'MR'
								   ,@banner
								   ,@costzoneid
								   ,CASe when cast(@enddate as date) < dateadd(day, 2, getdate()) then 1 else 0 end)
							end
				


				
						end
			end			
		if  @applyupdate = 1 or @applyedistatusupdate = 1 and @recordvalidated = 1
			begin
				update MaintenanceRequests set RequestStatus = 5
				where MaintenanceRequestID = @maintenancerequestid
			end
		
		fetch next from @recmr into
			@maintenancerequestid
			,@requesttypeid
			, @chainid
			, @supplierid
			, @banner
			, @allstores
			, @upc
			, @brandidentifier
			, @itemdescription
			, @currentsetupcosts
			, @requestedcost
			, @suggestedretail
			, @promotypeid
			, @promoallowance
			, @startdate
			, @enddate
			, @costzoneid
			,@productid
			,@upc12
			,@edicostrecordid
			,@edipromorecordid
			,@storecontexttypeid
			,@brandid
			,@tradingpartnerpromotionidentifier
			,@markeddeleted
			,@SkipPopulating879_889Records
			,@dtproductdescription
	end
	
close @recmr
deallocate @recmr



/*
--morning checks

select *
from DataTrue_EDI..Inbound846Inventory
WHERE RecordStatus = 0
and EdiName in ('SHM', 'PEP', 'GOP')
and PurposeCode in ('CNT')

select *
from DataTrue_EDI..Inbound846Inventory
WHERE RecordStatus = 0
and EdiName in ('SHM', 'PEP', 'GOP')
and PurposeCode in ('DB', 'CR')


select * from datatrue_edi.dbo.promotions where loadstatus = 0 order by recordid desc
select * from datatrue_edi.dbo.costs where recordstatus = 0 order by recordid desc

select *
  FROM [DataTrue_Main].[dbo].[MaintenanceRequests] mr
	where 1 = 1
	--and Banner is null
	and LEN(banner) < 1
	--and Approved = 1
	and RequestStatus = 0
	--and ProductId is not null
	--and SupplierID in (40558)
	order by ApprovalDateTime

select * from datatrue_edi.dbo.promotions where loadstatus = 0order by recordid desc
select * from datatrue_edi.dbo.costs where recordstatus = 0
select top 890 * from datatrue_edi.dbo.costs order by recordid desc
select *  from update datatrue_edi.dbo.costs set PartnerIdentifier = 'GOP' where Partnername = 'GOPHER NEWS COMPANY' and PartnerIdentifier is null

select * from datatrue_edi.dbo.edi_suppliercrossreference

select distinct requeststatus from maintenancerequests
select * from maintenancerequeststores where storeid = 40945
select distinct custom1 from stores

--*************************Cost Zones******************************8
select * from costzones
select * from costzonerelations where costzoneid = 1772

select * from costzonerelations where storeid = 40945

select * from stores where custom1 = 'Shop N Save Warehouse Foods Inc'
--*************************Billing***********************************


 select banner, filename, saledate, COUNT(recordid)
from datatrue_edi.dbo.Inbound852Sales
where RecordStatus = 0
and Qty <> 0
group by banner, filename, saledate
order by saledate desc

 select storeidentifier, ProductIdentifier, cast(SaleDate as date), ltrim(rtrim(PONO)), COUNT(recordid)
from datatrue_edi.dbo.Inbound852Sales
where 1 = 1
and RecordStatus = 0
--and banner = 'SS'
--and CAST(saledate as date) = '1/29/2012'
group by storeidentifier, ProductIdentifier, cast(SaleDate as date), ltrim(rtrim(PONO))
having COUNT(recordid) > 1

0006017	072945761452	2012-01-08	NULL	3

 select *
--update s set recordstatus = -5
from datatrue_edi.dbo.Inbound852Sales s
where RecordStatus = 0
and Banner = 'SYNC'

select count(*)
from storetransactions_working [no lock]
where cast(saledatetime as date) = '1/18/2012'

select count(*)
from storetransactions_working [no lock]
where cast(datetimecreated as date) = '1/20/12'
and transactiontypeid in (2, 6)

select distinct workingstatus
from storetransactions_working [no lock]
where cast(datetimecreated as date) = '1/20/12'
and transactiontypeid in (2, 6)

select *
from storetransactions_working [no lock]
where cast(datetimecreated as date) = '1/20/12'
and transactiontypeid in (2, 6)
and workingstatus = -6

select count(*)
from storetransactions [no lock]
where cast(datetimecreated as date) = '1/20/12'
and transactiontypeid in (2, 6)


select count(*)
from invoicedetails [no lock]
where cast(saledate as date) = '1/18/2012'

select count(*)
from invoicedetails [no lock]
where cast(datetimecreated as date) = '1/20/2012'
and invoicedetailtypeid = 1

select count(*)
from datatrue_edi.dbo.invoicedetails [no lock]
where cast(saledate as date) = '1/18/2012'
--*******************************************************************
710
(/order by startdatetime

select * from productidentifiers where identifiervalue = '043396362796'
select * from products where productid = 9836

select * into import.dbo.productprices_20120131BeforeBigNST_CUB_Update from productprices
select * from datatrue_edi.dbo.Costs order by RecordID desc
select *  FROM [DataTrue_Main].[dbo].[MaintenanceRequests] where ltrim(rtrim(upc)) = '0'

select *  FROM [DataTrue_Main].[dbo].[MaintenanceRequests] 
where maintenancerequestid = 4956
where supplierid = 40567
order by submitdatetime


select * from costzonerelations
where costzoneid = 874
where storeid =  40945


select distinct recordsource from datatrue_edi.dbo.Costs 

select *
--update r set r.dtstorecontexttypeid = 2
from maintenancerequests r
where r.dtstorecontexttypeid is null
and r.supplierid = 40559
and r.requeststatus = 0
and r.approved = 1
and r.allstores = 1

select c.dtbanner, r.banner, *
--update r set r.banner = c.dtbanner
from datatrue_edi.dbo.Costs c
inner join maintenancerequests r
on c.recordid = r.datatrue_edi_costs_recordid
where r.requeststatus = 0
and r.dtstorecontexttypeid = 2
and r.banner is null


select c.dtbanner, r.banner, *
--update r set r.banner = c.dtbanner
from datatrue_edi.dbo.promotions c
inner join maintenancerequests r
on c.recordid = r.datatrue_edi_promotions_recordid
where r.requeststatus = 0
and r.dtstorecontexttypeid = 2
and r.banner is null

select * from datatrue_edi.dbo.promotions
where 1 = 1
and loadstatus = 1
and dtstorecontexttypeid = 2
and dtbanner is null

select * from datatrue_edi.dbo.Costs 
where 1 = 1
and recordstatus = 1
and dtstorecontexttypeid = 2
and dtbanner is null
and recordsource in ('WEB','MANUALSET')

select *
--update c set Effectivedate = '11/30/2011'
from datatrue_edi.dbo.Costs c
where 1 = 1
and recordsource in ('MANUALSET')
and Effectivedate is null

select distinct custom1 from stores


Albertsons - ACME
Albertsons - IMW
Albertsons - SCAL
Cub Foods
Farm Fresh Markets
Hornbachers
Shop N Save Warehouse Foods Inc
Shoppers Food and Pharmacy

select *
--update r set r.banner = 'Albertsons - IMW', dtstorecontexttypeid = 2  
FROM [DataTrue_Main].[dbo].[MaintenanceRequests] r
where requeststatus = 0
and approved = 1
and allstores = 1
and supplierid = 40559
and banner = 'ALBERTSONS IMW'

select *
--update r set r.banner = 'Albertsons - IMW', dtstorecontexttypeid = 3 
FROM [DataTrue_Main].[dbo].[MaintenanceRequests] r
where requeststatus = 0
and approved = 1
order by Startdatetime
--and allstores = 0
and supplierid = 41465

select *  
FROM [DataTrue_Main].[dbo].[MaintenanceRequests] r
where requeststatus = 0
and approved = 1
and allstores = 1
and banner <> 'all'
and ltrim(rtrim(banner)) not in
(select distinct custom1 from stores)


and supplierid = 41342

select *  
FROM [DataTrue_Main].[dbo].[MaintenanceRequests] r
inner join (select distinct custom1 from stores) s
on ltrim(rtrim(banner)) = ltrim(rtrim(s.custom1))
where requeststatus = 0
and approved = 1
and allstores = 1
and supplierid = 41342

select *  FROM [DataTrue_Main].[dbo].[MaintenanceRequests] where supplierid = 41342

select * from datatrue_edi.dbo.Costs
where dtmaintenancerequestid = 385

select *
--delete  
FROM [DataTrue_Main].[dbo].[MaintenanceRequests] 
--inner join datatrue_edi.dbo.Costs c
--on r.datatrue_edi_costs_recordid = c.recordid
where ltrim(rtrim(upc)) = '0'

select * into import.dbo.productprices_20120117BeforeUpdates from productprices

select * from productprices where activestartdate = '12/30/2011' and activelastdate = '12/31/2011'

select top 100 * from datatrue_edi.dbo.promotions order by recordid desc
select distinct datetimecreated from datatrue_edi.dbo.promotions
update datatrue_edi.dbo.promotions set datetimecreated = '11/29/2011' where datetimecreated is null

select *
--update r set r.SkipPopulating879_889Records = 0, Skip_879_889_Conversion_ProcessCompleted = 1, approved = 1, dtstorecontexttypeid = 2
FROM [DataTrue_Main].[dbo].[MaintenanceRequests] r
where supplierid = 40558
and len(itemdescription) = 0
and datetimecreated > '12/11/2012'
order by maintenancerequestid desc

select *
FROM [DataTrue_Main].[dbo].[MaintenanceRequests]
where supplierid = 40570

truncate table dbo.tmpMaintenanceRequestStoreIDList
*/

return
GO
