USE [DataTrue_Main]
GO
/****** Object:  View [dbo].[vwPastCosts]    Script Date: 06/25/2015 18:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPastCosts]
AS
SELECT     dbo.Suppliers.SupplierName, dbo.Products.ProductName, dbo.Brands.BrandName, dbo.Stores.StoreIdentifier AS [Store Number], 
                      dbo.Stores.StoreName AS [Store Name], dbo.Stores.Custom2 AS [SBT Number], dbo.ProductIdentifiers.IdentifierValue AS UPC, dbo.ProductPrices.UnitPrice, 
                      dbo.ProductPrices.UnitRetail, dbo.ProductPrices.PricePriority, CAST(dbo.ProductPrices.ActiveStartDate AS datetime) AS [Begin Date], CONVERT(VARCHAR(10), 
                      dbo.ProductPrices.ActiveLastDate, 101) AS [End Date], dbo.Stores.StoreID, dbo.Stores.ChainID, dbo.Suppliers.SupplierID, 
                      dbo.ProductIdentifiers.ProductIdentifierTypeID, dbo.Brands.BrandID, dbo.ProductIdentifiers.ProductID, dbo.Chains.ChainName, dbo.Stores.Custom1 AS Banner
FROM         dbo.ProductPrices INNER JOIN
                      dbo.Suppliers ON dbo.ProductPrices.SupplierID = dbo.Suppliers.SupplierID INNER JOIN
                      dbo.Products ON dbo.ProductPrices.ProductID = dbo.Products.ProductID INNER JOIN
                      dbo.ProductIdentifiers ON dbo.Products.ProductID = dbo.ProductIdentifiers.ProductID INNER JOIN
                      dbo.Brands ON dbo.ProductPrices.BrandID = dbo.Brands.BrandID INNER JOIN
                      dbo.Stores ON dbo.ProductPrices.StoreID = dbo.Stores.StoreID INNER JOIN
                      dbo.Chains ON dbo.Stores.ChainID = dbo.Chains.ChainID
WHERE     (dbo.ProductPrices.ProductPriceTypeID = 3) AND (dbo.ProductPrices.ActiveStartDate < CONVERT(varchar(10), GETDATE(), 101)) AND 
                      (dbo.ProductPrices.ActiveLastDate < CONVERT(varchar(10), GETDATE(), 101))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ProductPrices"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 267
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Suppliers"
            Begin Extent = 
               Top = 6
               Left = 305
               Bottom = 125
               Right = 494
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Products"
            Begin Extent = 
               Top = 6
               Left = 532
               Bottom = 125
               Right = 721
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProductIdentifiers"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 245
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Brands"
            Begin Extent = 
               Top = 126
               Left = 281
               Bottom = 245
               Right = 470
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Stores"
            Begin Extent = 
               Top = 126
               Left = 508
               Bottom = 245
               Right = 704
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Chains"
            Begin Extent = 
               Top = 246
               Left = 38
               Bottom = 365
               Right = 294
            End
            Disp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPastCosts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'layFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPastCosts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPastCosts'
GO
