USE [DataTrue_Main]
GO
/****** Object:  StoredProcedure [dbo].[usp_PerpetualInventoryReport]    Script Date: 06/25/2015 18:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_PerpetualInventoryReport]
	@ChainId varchar(10),
	@SupplierId varchar(10),
	@StoreNo varchar(50),
	@UPC varchar(50),
	@ProductName varchar(50),
	@StockUnitsLessThan varchar(50),
	@StockUnitsGreaterThan varchar(50)
as
--exec [usp_PerpetualInventoryReport] 44199, 44246,'','','','',''
Begin
	
	IF(@StockUnitsLessThan='')
		set @StockUnitsLessThan='10000'
	
	IF(@StockUnitsGreaterThan='')
		set @StockUnitsGreaterThan='-10000'
				
	Select distinct S.SupplierId, S.StoreId, S.ProductId,S.TransactionTypeId, Max(SaleDateTime) as LastCountDate
	into #tmpLastCountDate
		From Datatrue_Report.dbo.StoreTransactions S
		inner join (select distinct SupplierId, StoreId, ProductId from PO_PurchaseOrderHistoryData where SupplierId=@SupplierId and ChainId=@ChainId) P 
		on P.SupplierId=S.SupplierId and P.StoreId=S.StoreId and P.ProductId=S.ProductId
		where TransactionTypeId in (10,11) and S.SupplierId=@SupplierId and S.ChainId=@ChainId
		group by S.SupplierId, S.StoreId, S.ProductId,S.TransactionTypeId

	Select distinct S.SupplierId, S.StoreId, S.ProductId, Sum(Qty) as LastCountUnits
	into #tmpLastCountUnits
		From Datatrue_Report.dbo.StoreTransactions S
		inner join #tmpLastCountDate T on T.SupplierId=S.SupplierId and T.StoreId=S.StoreId and T.ProductId=S.ProductId and S.SaleDateTime=T.LastCountDate
		where S.TransactionTypeId in (10,11) and S.SupplierId=@SupplierId and S.ChainId=@ChainId 
		group by S.SupplierId, S.StoreId, S.ProductId

	Select distinct S.SupplierId, S.StoreId, S.ProductId, Sum(Qty*QtySign) as SaleUnits
	into #tmpSales
		From Datatrue_Report.dbo.StoreTransactions S
		inner join Datatrue_Report.dbo.TransactionTypes TT on TT.TransactionTypeId=S.TransactionTypeId
		inner join #tmpLastCountDate T on T.SupplierId=S.SupplierId and T.StoreId=S.StoreId and T.ProductId=S.ProductId and S.SaleDateTime> case when T.TransactionTypeId=10 then T.LastCountDate else dateadd(d,-1,T.LastCountDate) end
		where BucketType=1 and S.SupplierId=@SupplierId and S.ChainId=@ChainId 
		group by S.SupplierId, S.StoreId, S.ProductId

	Select distinct S.SupplierId, S.StoreId, S.ProductId, Sum(Qty*QtySign) as DeliveryUnits
	into #tmpDeliveries
		From Datatrue_Report.dbo.StoreTransactions S
		inner join Datatrue_Report.dbo.TransactionTypes TT on TT.TransactionTypeId=S.TransactionTypeId
		inner join #tmpLastCountDate T on T.SupplierId=S.SupplierId and T.StoreId=S.StoreId and T.ProductId=S.ProductId and S.SaleDateTime> case when T.TransactionTypeId=10 then T.LastCountDate else dateadd(d,-1,T.LastCountDate) end
		where BucketType=2 and S.SupplierId=@SupplierId and S.ChainId=@ChainId 
		group by S.SupplierId, S.StoreId, S.ProductId 

	Select distinct S.SupplierId, S.StoreId, S.ProductId, Sum([Order Units]) as GoodsInTransit
	into #tmpGoodsInTransit
		From PO_PurchaseOrderHistoryData S
		inner join #tmpLastCountDate T on T.SupplierId=S.SupplierId and T.StoreId=S.StoreId and T.ProductId=S.ProductId
		where S.SupplierId=@SupplierId and S.ChainId=@ChainId and S.[UpComing Delivery Date]> getdate()-1
		group by S.SupplierId, S.StoreId, S.ProductId 

	select SP.SupplierName as [Supplier Name], ST.StoreIdentifier as StoreNumber, char(39) + PD.IdentifierValue as UPC, P.ProductName,
	 convert(varchar,T.LastCountDate,101) as [Last Count Date], isnull(LastCountUnits,0) as [Last Inventory Count], isnull(SaleUnits,0) as [Units Sold],
	 isnull(DeliveryUnits,0) as [Net Units Delivered Confirmed], PC.PlanogramCapacityMax as [Max Planogram],(isnull(LastCountUnits,0)- isnull(SaleUnits,0)+ isnull(DeliveryUnits,0)) as [True In Stock],
	 isnull(GoodsInTransit,0) as [Goods In Transit], (isnull(LastCountUnits,0)- isnull(SaleUnits,0)+ isnull(DeliveryUnits,0) + isnull(GoodsInTransit,0)) as StockUnits
		from #tmpLastCountUnits A
		inner join Datatrue_Report.dbo.Suppliers SP on SP.SupplierId=A.SupplierId
		inner join Datatrue_Report.dbo.Stores ST on ST.StoreId=A.StoreId
		inner join Datatrue_Report.dbo.Products P on P.ProductId=A.ProductId
		inner join Datatrue_Report.dbo.ProductIdentifiers PD on PD.ProductId=A.ProductId and PD.ProductIdentifierTypeId in (2,8)
		inner join Datatrue_Report.dbo.StoreSetup SS on SS.SupplierId=A.SupplierId and SS.ChainId=ST.ChainId and SS.StoreId=A.StoreId and SS.ProductId=A.ProductId
		inner join #tmpLastCountDate T on T.SupplierId=A.SupplierId and T.StoreId=A.StoreId and T.ProductId=A.ProductId
		left join #tmpSales S on A.SupplierId=S.SupplierId and A.StoreId=S.StoreId and A.ProductId=S.ProductId
		left join #tmpDeliveries D on D.SupplierId=S.SupplierId and D.StoreId=S.StoreId and D.ProductId=S.ProductId
		left join #tmpGoodsInTransit GT on GT.SupplierId=S.SupplierId and GT.StoreId=S.StoreId and GT.ProductId=S.ProductId
		left join PO_Criteria PC on PC.StoreSetupID=SS.StoreSetupID
		where (isnull(LastCountUnits,0)- isnull(SaleUnits,0)+ isnull(DeliveryUnits,0)) < @StockUnitsLessThan 
		and (isnull(LastCountUnits,0)- isnull(SaleUnits,0)+ isnull(DeliveryUnits,0)) > @StockUnitsGreaterThan
		and ST.StoreIdentifier like '%'+ @StoreNo +'%' and PD.IdentifierValue like '%'+ @UPC + '%'  and P.ProductName like '%'+ @ProductName + '%'
	
end
GO
