<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaintenanceRequestLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MaintenanceRequestLibrary.Properties.Settings.DataTrue_EDIConnectionString"
            connectionString="Data Source=WinDev-PC;Initial Catalog=DataTrue_EDI;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MaintenanceRequestLibrary.Properties.Settings>
            <setting name="source_host" serializeAs="String">
                <value>192.168.100.71</value>
            </setting>
            <setting name="db_host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="db_user" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="db_pass" serializeAs="String">
                <value>root</value>
            </setting>
        </MaintenanceRequestLibrary.Properties.Settings>
    </applicationSettings>
</configuration>